In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

delivery = pd.read_csv("deliveries.csv") 
data  = pd.read_csv("matches.csv")   


delivery.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

In [2]:
runs = delivery.groupby('batsman')
runs['batsman_runs'].sum().sort_values(ascending=False).head()

batsman
SK Raina     4548
V Kohli      4423
RG Sharma    4207
G Gambhir    4132
DA Warner    4014
Name: batsman_runs, dtype: int64

In [3]:
mask = delivery['batsman_runs']== 4
new_delivery=delivery[mask]

new_delivery.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head()

batsman
G Gambhir    484
SK Raina     402
DA Warner    401
S Dhawan     401
V Kohli      384
Name: batsman_runs, dtype: int64

### my logic

In [4]:
mask = delivery['batsman_runs']==4
new_delivery=delivery[mask]

data=new_delivery.groupby('batsman')
data['batsman_runs'].count().sort_values(ascending=False).head(2)

batsman
G Gambhir    484
SK Raina     402
Name: batsman_runs, dtype: int64

In [5]:
mask = delivery['batsman'] == 'V Kohli'
vk = delivery[mask]

vk.groupby(['bowling_team','batting_team'])['batsman_runs'].sum().sort_values(ascending=False).head()

bowling_team         batting_team
Chennai Super Kings  Royal Challengers Bangalore    706
Delhi Daredevils     Royal Challengers Bangalore    661
Kings XI Punjab      Royal Challengers Bangalore    483
Mumbai Indians       Royal Challengers Bangalore    447
Sunrisers Hyderabad  Royal Challengers Bangalore    439
Name: batsman_runs, dtype: int64

In [6]:
def run_scored(batsman_name):
    mask = delivery['batsman'] == batsman_name
    vk = delivery[mask]
    return vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(1)

In [7]:
run_scored('V Kohli')

bowling_team
Chennai Super Kings    706
Name: batsman_runs, dtype: int64

# Question 
# isin ()
# find the most destructive death over batsman in the history of IPL
# strike rate =(number of runs /number of balls)*100
# min batsman 200 balls in over 16-20

In [8]:

mask = delivery['over']>15
death_over = delivery[mask]

all_batsman=death_over.groupby('batsman')['batsman_runs'].count()
X=all_batsman>200
batsman_list=all_batsman[X].index.tolist()

#runs scored by all these 43 batsman 
#balls played by all these 43 batsmanrt

data = death_over['batsman'].isin(batsman_list)
final=death_over[data]
runs=final.groupby('batsman')['batsman_runs'].sum()
balls=final.groupby('batsman')['batsman_runs'].count()

sr= (runs/balls)*100

sr

batsman
A Mishra            100.888889
AB de Villiers      211.052632
AD Mathews          147.058824
AM Rahane           152.985075
AR Patel            142.794760
AT Rayudu           165.411765
BJ Hodge            157.402597
DA Miller           186.666667
DA Warner           189.473684
DJ Bravo            167.726161
DJ Hussey           175.213675
DPMD Jayawardene    152.032520
Harbhajan Singh     147.607656
IK Pathan           142.580645
JA Morkel           149.882353
JH Kallis           170.562771
JP Duminy           167.760618
JP Faulkner         149.319728
KA Pollard          161.336516
KD Karthik          152.051836
KM Jadhav           144.378698
LRPL Taylor         152.941176
MK Pandey           151.785714
MK Tiwary           140.189125
MS Dhoni            169.607843
NV Ojha             134.868421
P Kumar             109.701493
PP Chawla           120.257235
R Vinay Kumar       108.936170
RA Jadeja           130.729167
RG Sharma           175.668449
RV Uthappa          173.454545
S Badrinath         149.116608
S Dhawan            158.847737
SK Raina            167.467249
SPD Smith           169.303797
SS Tiwary           136.666667
STR Binny           144.036697
V Kohli             181.868132
WP Saha             163.389831
Y Venugopal Rao     148.846154
YK Pathan           159.246575
Yuvraj Singh        171.124031
Name: batsman_runs, dtype: float64

# merge two data in on frame

In [13]:
new=delivery.merge(data, left_on='match_id', right_on='id')

final=new.groupby(['season','batsman'])['batsman_runs'].sum().sort_values(ascending=False).reset_index()
final.drop_duplicates(subset='season').sort_values('season')[['season','batsman']]

    season       batsman
10    2008      SE Marsh
14    2009     ML Hayden
9     2010  SR Tendulkar
11    2011      CH Gayle
2     2012      CH Gayle
3     2013    MEK Hussey
6     2014    RV Uthappa
17    2015     DA Warner
0     2016       V Kohli
7     2017     DA Warner

# pivot Table

In [6]:
mask = delivery['batsman_runs'] == 6
six=delivery[mask]


six.pivot_table(index='over',columns='batting_team', values='batsman_runs', aggfunc='count')

batting_team,Chennai Super Kings,Deccan Chargers,Delhi Daredevils,Gujarat Lions,Kings XI Punjab,Kochi Tuskers Kerala,Kolkata Knight Riders,Mumbai Indians,Pune Warriors,Rajasthan Royals,Rising Pune Supergiant,Rising Pune Supergiants,Royal Challengers Bangalore,Sunrisers Hyderabad
over,,,,,,,,,,,,,,
1,5.0,3.0,14.0,4.0,10.0,2.0,10.0,9.0,5.0,12.0,1.0,NaN,20.0,3.0
2,17.0,21.0,19.0,6.0,19.0,4.0,13.0,17.0,6.0,7.0,NaN,2.0,28.0,12.0
3,37.0,11.0,30.0,14.0,27.0,3.0,28.0,22.0,6.0,13.0,2.0,1.0,40.0,16.0
4,34.0,17.0,41.0,9.0,36.0,3.0,35.0,28.0,7.0,21.0,5.0,1.0,43.0,8.0
5,41.0,27.0,29.0,11.0,30.0,3.0,25.0,43.0,7.0,23.0,8.0,5.0,40.0,17.0
6,43.0,22.0,27.0,12.0,39.0,3.0,34.0,50.0,3.0,24.0,6.0,5.0,29.0,10.0
7,22.0,11.0,20.0,10.0,19.0,2.0,26.0,18.0,5.0,15.0,1.0,4.0,18.0,13.0
8,25.0,13.0,26.0,6.0,35.0,2.0,25.0,23.0,10.0,24.0,NaN,3.0,34.0,19.0
9,23.0,17.0,32.0,11.0,36.0,1.0,27.0,35.0,9.0,20.0,3.0,1.0,47.0,15.0
10,23.0,14.0,24.0,8.0,29.0,3.0,21.0,22.0,6.0,26.0,8.0,1.0,36.0,12.0
11,36.0,15.0,34.0,5.0,37.0,1.0,34.0,33.0,13.0,30.0,3.0,2.0,47.0,11.0
12,36.0,26.0,38.0,7.0,38.0,3.0,32.0,49.0,5.0,33.0,2.0,2.0,36.0,11.0
13,35.0,23.0,37.0,5.0,47.0,2.0,42.0,51.0,10.0,39.0,7.0,1.0,51.0,19.0
14,45.0,22.0,35.0,8.0,41.0,3.0,31.0,50.0,13.0,38.0,4.0,1.0,53.0,18.0
15,43.0,20.0,28.0,5.0,51.0,4.0,40.0,53.0,13.0,34.0,5.0,7.0,54.0,33.0
16,46.0,21.0,43.0,5.0,59.0,NaN,50.0,66.0,16.0,37.0,5.0,6.0,71.0,22.0
17,51.0,38.0,56.0,7.0,39.0,3.0,55.0,60.0,13.0,45.0,2.0,6.0,61.0,18.0
18,58.0,37.0,44.0,9.0,57.0,4.0,52.0,86.0,12.0,34.0,2.0,9.0,82.0,37.0
19,54.0,23.0,59.0,9.0,53.0,5.0,45.0,72.0,18.0,37.0,14.0,2.0,74.0,42.0
20,68.0,19.0,50.0,4.0,60.0,2.0,34.0,89.0,19.0,26.0,11.0,9.0,71.0,28.0